.movieCard{
  width: 15rem;
  background-color: thistle;
  color: black;
  margin: 10%;
  border: 1px solid white;
  height: 95%;
}
.movieTitle{
  text-align: center;
  padding: 0%;
  margin: 0%;
  color:black;
}
.movieImg{
  width: 97%;
  height: 60%;
  margin: 50px 0 10px 4px;
  border-bottom: black solid 0.5px
}